.alert.alert-danger.todo
  = fa_icon('frown-o')

  markdown:
    **This is a draft only!**

    We are collecting informations here about the topic above. It's just an unedited accumulation of keywords and sentences. Read and re-use with caution!

    Please #{link_to 'support us', page_path('support_us')} so the missing content will appear here soon!

    PS: If you didn't know: while this specific page isn't available yet, there's still a lot of useful content on this website already. Click around, and you will see!
