.alert.alert-danger.todo
  = fa_icon('frown-o')

  markdown:
    **No more content here yet!**

    Please #{link_to 'support us', page_path('support_us')} so the missing content will appear here soon!

    PS: If you didn't know: while this specific page isn't spilled with information yet, there's still a lot of useful content on this website already. Click around, and you will see!
