markdown:
  A screenreader sits on top of a browser, so it's important to choose the right ones when developing.

  While Internet Explorer is the most used commercial browser, Firefox is the most used open source one (in terms of screenreader usage).