markdown:
  Dialogs display some information on top of a page.

  They are typically used to react upon a user action, e.g. to display a notice or to ask for some input.

  There are dialogs that disable the rest of the page in the background (modal), while others don't (non-modal).
