markdown:
  To develop good websites, one first has to know, what differs a normal website from an accessible website.

  You'll notice that there's not so much difference, and most of it lies in the cleanliness of everyday HTML code - accessibility is no sorcery! Sure, there are more sophisticated topics (e.g. the use of [WAI-ARIA](https://en.wikipedia.org/wiki/WAI-ARIA)), and we'll cover them too.
