markdown:
  With this pragmatic guide you'll learn how to develop and test accessible websites. It is **written for physically non-impaired web developers** who want to build [accessible websites](https://en.wikipedia.org/wiki/Web_Accessibility_Initiative), but it will be useful for anyone else interested in learning about [accessibility](https://en.wikipedia.org/wiki/Accessibility) (also known under the numeronym [A11y](https://en.wiktionary.org/wiki/a11y)).
