markdown:
  Many assistive technologies don't support pointing devices (like a mouse), so they only rely on keyboard input. It's important to know the basic commands, shortcuts, and idioms of keyboard navigation.