markdown:
  A common pitfall when creating websites is choosing inaccessible 3rd party plugins for custom controls like tabs, fancy form elements etc.
  
  Oftentimes, such plugins that offer fancy features for "normal" users are hard or even impossible to use for disabled users, and it's usually not easy to make them accessible and thus can ruin the whole user experience. In this section we are telling you what to keep in mind when choosing a plugin. We also offer reviews about plugins we know.
