.alert.alert-warning
  h2.sr-only Take this into consideration
  markdown:
    **Plugins can make your life easier - or they can be your hell!**

    Before getting too excited about all those fancy 3rd party plugins outthere, you better read about the #{link_to 'things to consider when choosing a plugin', page_path('things_to_consider_when_choosing_a_plugin')}.
    
    Also, you should be aware of #{link_to 'how we review plugins', page_path('how_we_review_plugins')}.
