.alert.alert-warning
  h2.sr-only Take this into consideration
  markdown:
    **Read this before using any plugin!**

    Before getting too excited about all those fancy 3rd party plugins outthere, you better read about the #{link_to 'things to consider when choosing a plugin', page_path('things_to_consider_when_choosing_a_plugin')}.
    
    Also, you should be aware of #{link_to 'how we review plugins', page_path('how_we_review_plugins')}.

.alert.alert-success
  h2.sr-only Got something to say?
  markdown:
    **Help us managing this list!**

    Know another promising plugin? Have different results when testing? Have other opinions about what's important?
    
    You are very welcome to #{link_to 'bring yourself in', page_path('support_us')}.
