markdown:
  Inspiring, accessible examples for everyday-needed JavaScript widgets. They have the purpose to give you an idea about how an accessible widget should behave like, so you can implement your own one.