.alert.alert-success
  h2.sr-only Take this into consideration
  markdown:
    **This is only our choice of tools!**

    There are a lot of tools outthere that help you improve accessibility of websites.

    This is our personal collection, there may be others that do the job, too.

.alert.alert-warning
  h2.sr-only Quick tools vs. Screenreaders
  markdown:
    **Be careful with these tools!**

    While "quick tools" (like browser plugins, bookmarklets, etc.) can give you fast results, always be careful! They may not always deliver the most accurate results.

    Always use screenreaders as your final testing instrument.

.alert.alert-info
  h2.sr-only Manual vs. automatic testing
  markdown:
    **Be careful with automated testing!**

    Many aspects of accessibility **can not** be tested automatically. In every situation, you always have to use your head and common sense to decide whether something is accessible or not.
