markdown:
  A big part of this guide (the whole "Preparation" and "Examples" sections) is about learning how to use a screenreader, as this will be your main evaluation tool when it comes stroke upon stroke on the accessibility battlefield.