markdown:
  Tabs are one of the best known custom controls.
  
  They help to split up a page's content into small and thus more digestible parts. They can be thought of "pages inside a page".

  Just so you know: #{link_to 'accordions', page_path('accordion_plugins')} usually solve a similar use case.
