markdown:
  Tab panels help to split up a page's content into smaller and thus more digestible parts which can toggled visible one at a time. They can be thought of "pages inside a page".

  Just so you know: #{link_to 'accordions', page_path('accordion_widgets')} usually solve a similar use case.
