markdown:
  Much of the "magic" about developing accessible websites (and testing them) boils down to not much more than a handful of tools and a few specific workflows associated to each of them.

  Here you'll get specific instructions on how to inspect the most common accessibility problems, and how you can elaborate solutions for them.
