markdown:
  Windows is the most used desktop operating system when it comes to accessibility.

  You won't get around having a current version of it running when developing and testing accessible websites.
