= headline_with_flash 'How an experienced screenreader user approaches a new website'

markdown:
  ## Daniele

  When I first open a Website it’s always a surprise which kind of Elements are present. To be sure, that I am at the beginning of the Content I press Ctrl+home. This is important, because sometime there is some autofocus functionality. Autofocus Functionality may be helpful, but when I open a Site for the first time, I want to read the whole Content to have an overview.

  When I am at the Beginning of the Page, I always search for semantical Information’s. Usually I search for Headings. Sighted Users also detect the Headings as first Object. A Heading let’s me assume, that here begins an important content.

  When no Headings are Present I have to go Line to Line through the whole Content to gain a first impression. During this Sequence I try to observe if any Lists are present. When I find some lists, it’s possible to skip Items, that are not relevant or even to have an orientation about the Navigation structure. If Instructions are formatted as a List I can overpass the List if I don’t want to read all the Instructions.

  When I have to interact with Elements on a Site, like forms, widgets and so on, then there is something important to know.

  Before I can pass any Keystroke to the Webpage directly I have to enter Form Mode. The difference between Form Mode and Browse Mode is the Keyboard behaviour. While in Form Mode, All Keystrokes will be passed directly to the Webpage. This causes that a blind User navigate from Form Element to Form Element by using tab. In Browse Mode, Tab is not used, because the blind Person wants to read even the not focusable Elements.

  If I know the Type of Element I am looking for, there is also a possibility to search direct for elements, like Forms, Links Lists and so on.

  For Example, if I open a Webmail page, it may be clear, that I want to login, so I search directly for a form field.

  The same occurs if I expect a Link, I can search directly for it.
  To know how to use a Widget correctly it’s important to give it the appropriate Aria-Role. A correct Role makes it possible for the screenreader to describe the Widget correctly. For example, if you have a Tab-Bar, the Screenreader announces it as Tab-Bar. I know from Windows, that you can switch trough Tabs using Arrow-Keys or ctrl+home to go to the first Tab, respectively with end to go to the last Tab in the Panel. So I will try to use the same Commands on the Widget.

  When I encounter a Table, then I have to use Table readings-Commands. If I am on the Table, the Screen reader announces to me the Number of Rows and columns. If I would press as normal the arrow Keys, the Content would be linearized. To have the Content of the Cell spoken in Relation with the corresponding Header, I have to press ctrl+alt+ (corresponding arrow Key)

  ## Gianfranco

  ### Szenario 1, wenn ich eine Webseite nicht kenne

  Ich beginne zu oberst auf der Seite und navigiere Zeile für Zeile linear nach unten. Also genau so wie im Quell-Code definiert.
  Kommt etwas störendes oder etwas, das mich nicht interessiert, drücke ich tab um zum nächsten Element zu springen oder h, um zur nächsten überschrift zu springen.
  Während des "scannen" der Seite, merke ich mir, welche strukturelle Elemente eingesetzt werden.
  Bin ich auf einen Link gestossen, der mich weiterführt, öffne ich die Linkliste mit Insert+F7 und suche ihn in der Liste.
  Ich kann auch mit Control+f nach einem Stichwort suchen.

  ### Szenario 2, wenn ich die Seite kenne und nach gezielten Informationen suche

  Zuerst schaue ich, ob es Sprunglinks und welche Headings es gibt.
  In der Navigation suche ich dann den Link, der mich zur gewünschten Seite führt. Mit 1 oder über den Sprunglink springe ich direkt zum Content.
  Dann navigiere ich weiter mittels Headings und Landmarks.
  Formularfelder springe ich mit f an, Tabellen mit t.
  Suche ich einen bestimmten Link oder Heading, öffne ich das Tool (Insert F7) mit den aufgelisteten Elementen. Dort kann man mit den Anfangsbuchstaben gezielter auf das gewünschte Element springen.

  Innerhalb einer Tabelle navigiere ich mittels Alt+Control+Pfeiltasten horizontal oder vertikal.

  In Formulare gehe ich mit Enter rein und benutze  den Tabulator um durch die Elemente zu navigieren. Auswahlschalter selektiere ich dann mit den Pfeiltasten und Checkboxen mit der Leertaste.
  Wichtig zu wissen ist, dass im Formularmodus nur die Labels vorgelesen werden, nicht aber die nicht fokussierbaren Texte wie überschriften, Anweisungen ...

  Suche ich eine Grafik, drücke ich g, einen Button, drücke ich b, usw. In jaws kann man sich die Kurztastennavigation mit Insert+h anzeigen lassen. Bei NVDA sind die meisten ähnlich.