= headline_with_flash 'Images?'

== render 'images_examples_teaser'

== render 'shared/no_content_yet'

p#lets_go
  = link_to "You made your way until here? Congrats! Now we want to play with some web forms!", page_path('forms_examples'), class: 'btn btn-warning'
