= headline_with_flash 'JavaScript'

== render 'javascript_examples_teaser'

markdown:
  By the way, to see some working everyday-needed JavaScript widgets, visit our #{link_to 'Proofs of concept', page_path('proofs_of_concept_examples')}!

  - **Basic JavaScript demos <sup>to do</sup>** - see some basic JavaScript in action (and what a Screenreader does with it)
  - **#{link_to 'Setting focus to elements', example_path('setting_focus_to_elements')}** - an important thing for accessible websites
  - **Handling asynchronous requests (AJAX) <sup>to do</sup>**
  - **Handling partial page updates <sup>to do</sup>**
  - **Handling spinners <sup>to do</sup>**
  - **A lot more to come here soon (hopefully)**

== render 'shared/no_content_yet'

p#lets_go
  = link_to "Examples done! What to do now? Get to know some recipes!", page_path('recipes_overview'), class: 'btn btn-warning'
