= headline_with_flash 'JavaScript'

== render 'javascript_examples_teaser'

markdown:
  - **Basic JavaScript demos <sup>to do</sup>** - see some basic JavaScript in action (and what a Screenreader does with it)

== render 'shared/no_content_yet'

p#lets_go
  = link_to "Examples done! What to do now? Get to know some recipes!", page_path('recipes_overview'), class: 'btn btn-warning'
