= headline_with_flash 'Partial Certification'

== render 'shared/draft'

markdown:
  Grundsätzlich ist erforderlich, dass die eingebundenen Applikationen tatsächlich nicht in der Verantwortung des Site-Betreibers liegen (und nicht nur etwa ausserhalb der direkten Web-Verantwortung aber noch in derselben Organisation).
  Dann ist erforderlich, dass die Inhalte vor Ort (also auf den Seiten selbst, wo diese eingebunden sind) als nicht barrierefrei deklariert sind. Teilweise kann dies auch bereits bei der Verlinkung auf diese Inhalte sinnvoll sein.
  Zudem müssen diese Inhalte auch in der Konformitätserklärung (z.B. im Impressum oder auf eigener Seite) als solche deklariert sein (Bsp. ZKB: https://www.zkb.ch/de/gs/barrierefreiheit.html).
 
  Die Beschreibung der partiellen Konformität in den WCAG 2.0 findet sich hier:
  http://www.w3.org/Translations/WCAG20-de/#conformance-partial
  Die Formulierung muss aber u.E. nicht der dort vorgeschlagenen direkt entsprechen, sondern kann verständlicher/kundenfreundlicher formuliert werden, so wie im Beispiel der ZKB oben zu finden, unter Angabe der konkreten Inhalte, welche nicht barrierefrei sind.
