/ i18n-tasks-use t('.title')
= headline_with_flash 'Preparation overview'

markdown:
  To develop accessible websites, some specific tools are needed.

  The most important one is a [screenreader](https://en.wikipedia.org/wiki/Screen_reader), which reads websites out aloud for people with vision impairments.