= headline_with_flash 'Relevant screenreaders'

markdown:
  We assume that the following screenreaders are the most widespread. When creating accessible websites, make sure they work well with your end product.
  
  ## Desktop

  Most screenreader users are working on Windows (though Mac OS X is catching up quickly).

  ### NVDA (Non-Visual Desktop Access) (Windows)
  
  [NVDA](https://de.wikipedia.org/wiki/NonVisual_Desktop_Access) is open source and the most reliable accessibility testing tool. Use it daily when developing, and you will soon begin to love it as a firm but fair teacher.

  If you didn't know, the main part of this whole website is about NVDA, so go and [check it out](/)!

  ### JAWS (Windows)
  
  [JAWS (Job Access With Speech)](https://de.wikipedia.org/wiki/JAWS) is still the most widespread screenreader, but it's market share is shrinking constantly.
  
  JAWS is an extremely expensive piece of software (in fact, a complete new Macbook with VoiceOver installed is cheaper, but health insurances rather seem to want to pay for yearly updates over and over again). For developers and testers, the 40 minute time limit demo version should be enough.

  ### Other kids in town

  If possible, also test with:

  - [VoiceOver](https://en.wikipedia.org/wiki/VoiceOver#OS_X) (Mac OS X), which is deeply integrated into the operating system and thus offers a whole new user experience
  - [Windows-Eyes](https://en.wikipedia.org/wiki/Window-Eyes) (Windows), another commonly used screenreader (especially in the US)

  ## Mobile

  The mobile world offers very easy to use screenreaders: especially VoiceOver can be used by anyone in only a few minutes.

  While standard HTML and JavaScript is all well supported by mobile screenreaders, they vary a lot in supported ARIA elements and attributes.

  - [VoiceOver](https://en.wikipedia.org/wiki/VoiceOver#iOS) (iOS)
  - [TalkBack](http://www.androidcentral.com/what-google-talk-back) (Android)