/ i18n-tasks-use t('.title')
= headline_with_flash 'Tools and workflows overview'

markdown:
  Here you'll be presented with all the tools and workflows we use in our daily testing business. We tried to phrase each workflow like a recipe, so you can easily apply it to your own needs.

  ### Tools

  TODO

  ### Workflows

  TODO

  ### Tipps and Tricks

  - #{link_to 'Linearize full page into text (or: How a screenreader perceives a page)', page_path('linearize_full_page')}